@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.Header {
  background-color: $colorWhiteBackground;
  position: relative;

  &__MainNavWrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 3;
  }

  &__ImageWrapper {
    height: 0;
    padding-top: 35rem;
    width: 100%;
    overflow: hidden;
    position: relative;

    @include media(ms) {
      padding-top: 55rem;
    }

    @include media(tablet) {
      padding-top: 55vh;
    }

    @include media(ml) {
      padding-top: 75vh;
    }

    @include media(desktop) {
      padding-top: 77vh;
    }
    @include media(xl) {
      padding-top: 88vh;
    }

    &::before {
      content: '';
      position: absolute;
      background-image: url('#{$patternPath}topWave.svg');
      background-position: bottom;
      background-size: contain;
      background-repeat: no-repeat;
      bottom: -1px;
      right: -1px;
      left: -1px;
      height: 100%;
      width: calc(100% + 2px);
      z-index: 2;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      z-index: 1;

      @include bgColorGradient(
        to top,
        $colorPrimary,
        1,
        0%,
        rgba(0, 0, 0, 0.01),
        0.1,
        50%
      );
    }
  }
}
