@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.ModalContent {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  @extend %noScrollBar;
  position: relative;

  // max-width: 144rem;
  // width: calc(100% - 50px);

  //   border: 1px solid red;
  height: 100%;
  //   flex-direction: column;
  margin: 0 auto;
  @include media(tablet) {
    flex-direction: row;
    justify-content: flex-end;
    max-width: 60%;

    &--Portrait {
      max-width: 50%;
    }

    &--FullSize {
      max-width: 95%;
    }

    &--TextAndImage {
      max-width: 100%;
    }
  }

  &__OuterWrapper {
    margin: 0 auto;
    width: 100%;

    // display: flex;
    // max-height: 80%;

    @include media(tablet) {
      @include posAbsolute;
      z-index: -1;
      overflow: hidden;

      .ModalContent--Portrait & {
        width: 80%;
      }

      .ModalContent--TextAndImage & {
        position: relative;
      }
      .ModalContent--TextAndImage.ModalContent--Portrait & {
        width: 40%;
      }

      // .ModalContent--Portrait & {
      //   width: 40%;
      // }

      //   &:host {
      //   width: initial !important;
      //   }
    }
  }

  &__ImageWrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
  }

  &__TextWrapper {
    position: relative;
    // display: inline-table;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    // background-color: $colorBlack;
    // background-color: $colorSecondary;

    @include media(tablet) {
      // padding: $spacingL $spacingXl $spacingXl * 2;
      margin-top: 10%;
      max-width: 50%;
      left: -5rem;
    }
  }

  &__InnerTextWrapper {
    background-color: $colorBlack;
    padding: $spacingL $spacingM $spacingL * 2;
    // border: 1px solid red;
    box-shadow: $boxShadowCard;
    // box-shadow: 0px 2px 20px black;

    @include media(tablet) {
      // padding: $spacingL $spacingXl $spacingXl * 2;
      padding: $spacingL $spacingXl $spacingXl;
    }
  }

  &__Title {
    @extend %h2;
    color: $colorPrimary;
  }

  &__Text {
    @extend %body;
    color: $colorPrimary;
  }
}
