@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.Internship {
  $root: &;
  padding-top: $spacingXl;
  padding-bottom: $spacingBlock;
  background-color: $colorBlack;
  transition: all $transitionSlow;
  @extend %fontColor;
  will-change: transform;

  @include media(desktop) {
    padding-top: $spacingBlock;
  }

  &--Light {
    @extend %fontColorBlack;
    background-color: $colorPrimary;
  }

  &__Grid {
    @extend %grid;
  }

  &__ImageAndTextWrapper {
    display: flex;
    flex-direction: column;

    &--Mobile {
      @include media(tablet) {
        display: none;
      }
    }

    &--Desktop {
      display: none;
      @include media(tablet) {
        display: flex;
        flex-direction: row;
        margin-bottom: $spacingL;
      }
    }
  }

  &__FrojdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #250154;
    padding-top: 80%;
    flex: 1 1 50%;
    margin-left: 6rem;
    position: relative;
    margin-bottom: $spacingL;

    @include media(s) {
      padding-top: 60%;
    }

    @include media(ms) {
      padding-top: 45%;
      width: 85%;
    }
    @include media(tablet) {
      padding-top: 0;
      width: 45%;
      height: auto;
    }
  }

  &__IconWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 7rem 0;
  }

  &__Subtitle {
    transition: all $transitionNormal;
    @extend %h2;
    display: block;
    color: $colorPrimary;

    .Internship--Light & {
      color: $colorBlack;
    }
  }

  &__TextWrapper {
    @extend %internshipTextBlock;

    .Internship__ImageAndTextWrapper--Desktop & {
      display: block;
      width: 50%;
    }

    #{$root}--Light & {
      @extend %themeColor;
    }
  }
}
