@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.Internship {
  padding-top: $spacingBlock;
  padding-bottom: $spacingBlock;
  background-color: $colorBlack;
  transition: all $transitionSlow;
  @extend %fontColor;
  will-change: transform;

  // @include media(tablet) {
  //   padding-bottom: $spacingBlock * 2;
  // }

  &--Primary {
    @extend %fontColorBlack;
    background-color: $colorPrimary;
  }

  &__Grid {
    @extend %grid;
  }

  &__ImageAndTextWrapper {
    display: flex;
    flex-direction: column;

    &--Mobile {
      @include media(tablet) {
        display: none;
      }
    }
    &--Desktop {
      display: none;
      @include media(tablet) {
        display: flex;
        flex-direction: row;
      }
    }
  }

  // &__Outer {
  //   // height: 30rem;
  //   width: 80%;
  //   padding-bottom: $spacingL;
  // }

  // &__ImageWrapper {
  //   position: relative;
  //   // width: 30rem;
  //   @include media(tablet) {
  //     width: 100%;
  //     height: 0;
  //     padding-top: calc(555 / 1000 * 100%);
  //     // border: 1px solid red;
  //     // height: 30rem;
  //   }
  // }
  &__FrojdContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #250154;
    // height: 56.25%;
    // height: calc(100% - $spacingXl);
    // padding-top: calc(555 / 1000 * 100%);
    // height: 30rem;
    padding-top: 80%;
    width: 100%;

    @include media(s) {
      padding-top: 60%;
    }

    position: relative;
    margin-bottom: $spacingL;

    @include media(ms) {
      padding-top: 45%;
      width: 85%;
    }
    @include media(tablet) {
      padding-top: 0;
      width: 45%;
      height: auto;
    }
    // padding-top: ;
  }

  &__IconWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // border: 1px solid white;
    width: 50%;
    padding: 7rem 0;
  }

  // &__Width {
  //   width: 35rem;
  // }

  &__Subtitle,
  &__Strong {
    transition: all $transitionNormal;
    @extend %h2;
    display: block;
    // padding-bottom: $spacingXl;
    color: $colorPrimary;
    // @extend %fontColor;

    .Internship--Primary & {
      color: $colorBlack;
      //   @extend %fontColorBlack;
    }
  }

  &__Paragraph {
    transition: all $transitionNormal;
    @extend %richtext;
    // @extend %fontColor;
    color: $colorPrimary;
    p:last-of-type {
      padding-bottom: 0;
    }

    a {
      transition: all $transitionNormal;
      color: $colorPrimary;

      &:hover,
      &:focus {
        color: $linkHoverLight;
      }
    }

    // .Internship__ImageAndTextWrapper--Mobile & {
    //   @include media(tablet) {
    //     display: none;
    //   }
    // }
    // &--Desktop {
    .Internship__ImageAndTextWrapper--Desktop & {
      // display: none;
      // @include media(tablet) {
      display: block;
      width: 50%;
      padding-right: $spacingM * 2;
      // p:last-of-type {
      //   padding-bottom: 0;
      // }
    }
    // }

    .Internship--Primary & {
      color: $colorBlack;
      // @extend %fontColorBlack;
      a {
        // transition: all $transitionNormal;
        // @extend %links;
        color: $colorBlack;
        // transition: color $transitionNormal;
        &:hover,
        &:focus {
          color: $linkHover;
        }
      }
    }

    p:last-of-type {
      // padding-bottom: $spacingL * 2;
    }
  }

  // &__Paragraph--Desktop {
  //   border: 1px solid red;
  // }
}
