@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.StartContainer {
  &__Grid {
    @extend %grid;
  }

  &__Title {
    @extend %h1;
    margin-top: -2rem;
    position: relative;
    z-index: 5;
    position: relative;
    word-break: break-word;
    hyphens: manual;
    padding-bottom: $spacingL;

    @include media(desktop) {
      margin-top: -21rem;
      width: 70%;
    }
  }

  &__Strong {
    display: block;
  }

  &__Em {
    color: $colorSecondaryYellow;
  }

  &__Row {
    padding-bottom: $spacingBlock;
  }

  &__Row--Dark {
    background-color: $colorWhiteBackground;
    .StartContainer__Strong,
    .StartContainer__SubTitle,
    .StartContainer__Paragraph {
      @extend %fontColorBlack;
    }
  }

  &__Strong,
  &__SubTitle {
    @extend %h3;
    padding-bottom: $spacingM;
  }

  &__Line {
    padding-top: $spacingBlock;
    width: 100%;
    &--Dark {
      background-color: $colorWhiteBackground;
    }
  }

  &__Paragraph {
    @extend %richtext;

    &:last-of-type {
      padding-bottom: $spacingL * 2;
    }
  }

  &__TabListWrapper {
    // @extend %grid;
  }

  &__ButtonWave {
    margin-top: -2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding-top: 15rem;
    height: 0;
    z-index: 2;
    background-color: $colorWhiteBackground;

    @include media(tablet) {
      margin-top: -2px;
      padding-top: 20rem;
    }
    @include media(desktop) {
      margin-top: -2px;
      padding-top: 26rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-image: url('#{$patternPath}waveBlue6.svg');
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  &__ButtonWrapper {
    position: absolute;
    top: 0;
    z-index: 2;
  }

  &__TextWrapper {
    &--Dark {
      background-color: $colorWhiteBackground;
    }
  }

  &__Padding {
    padding-bottom: $spacingBlock;
    transition: background-color $transitionNormal;

    &--White {
      background-color: $colorWhiteBackground;
    }

    &--Black {
      background-color: $colorPrimaryBlue;
    }
  }
}
