@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.StartContainer {
  &__Grid {
    @extend %grid;
  }

  &__Title {
    @extend %h1;
    // font-weight: 600;
    margin-top: -8rem;
    position: relative;
    z-index: 5;
    position: relative;
    word-break: break-word;
    hyphens: manual;
    padding-bottom: $spacingL;
    width: 90%;

    @include media(ms) {
      margin-top: -11rem;
      // width: 90%;
    }
    @include media(tablet) {
      margin-top: -13rem;
      width: 70%;
    }
    @include media(desktop) {
      margin-top: -21rem;
      width: 100%;
    }
    @include media(xl) {
      font-size: 8.5rem;
      margin-top: -27rem;
      width: 90%;
    }
  }

  &__EntryWrapper {
    position: relative;
    z-index: 2;
  }

  &__Block {
    @extend %grid;
    position: relative;
    background-color: $colorWhite;
    .StartContainer__Strong,
    .StartContainer__Subtitle,
    .StartContainer__Paragraph {
      @extend %fontColorBlack;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   background-image: url('#{$patternPath}bottomWave.svg');
    //   background-position: top;
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   top: -1px;
    //   right: -1px;
    //   left: -1px;
    //   height: 100%;
    //   width: calc(100% + 2px);
    //   z-index: 0;

    //   @include media(ms) {
    //     background-size: contain;
    //   }
    // }
  }

  &__CtaWrapper {
    position: relative;
    height: 100%;
    width: 100%;
    padding-top: $spacingL;

    .StartContainer__Paragraph {
      position: relative;
      z-index: 1;
      padding-bottom: $spacingL;
    }
    // border: 1px solid red;
    &::after {
      content: '';
      position: absolute;
      background-image: url('#{$patternPath}bottomWave.svg');
      background-position: top;
      background-size: contain;
      background-repeat: no-repeat;
      top: -1px;
      right: -1px;
      left: -1px;
      height: 50rem;
      width: calc(100% + 2px);
      z-index: 0;

      @include media(ms) {
        background-size: contain;
        width: 1440px;
        margin-left: -7.2rem;
        margin-right: -7.2rem;
      }
    }
  }

  &__ButtonWrapper {
    position: relative;
    z-index: 2;
    // padding-bottom: 15rem;
  }

  &__TextWrapper {
    position: relative;
    z-index: 5;
    padding-top: $spacingL * 4;
    &--White {
      // background-color: $colorWhite;
    }
  }

  &__Background {
    // border: 1px solid red;
    // margin-left: -72px;
    // margin-right: -72px;
    @extend %grid;
    transition: background-color 1s ease-in-out;
    will-change: transform;

    &--White {
      background-color: $colorWhite;
    }
    &--Black {
      background-color: $colorBlack;
    }
  }

  &__KnowledgeWrapper {
    // background-color: green;
  }

  // &__Strong {
  //   display: block;
  // }

  // &__Em {
  //   color: $colorSecondaryYellow;
  // }

  &__Row {
    // padding-bottom: $spacingBlock;
  }

  &__Row--Dark {
    background-color: $colorWhite;
    .StartContainer__Strong,
    .StartContainer__Subtitle,
    .StartContainer__Paragraph {
      @extend %fontColorBlack;
    }
  }

  &__Subtitle,
  &__Strong {
    @extend %h2;
    display: block;
    padding-bottom: $spacingXl;
  }

  &__Line {
    padding-top: $spacingBlock;
    width: 100%;
    &--Dark {
      background-color: $colorWhiteBackground;
    }
  }

  &__Preamble {
    @extend %preamble;
    // border: 1px solid red;
    // P {
    //   @extend %richtext;

    //   &:last-of-type {
    //     padding-bottom: $spacingL * 2;
    //   }
    // }
    // strong {
    //   @extend %strong;
    // }
  }

  &__Paragraph p {
    // @extend %richtext;
    @extend %richtext;

    p:last-of-type {
      padding-bottom: $spacingL * 2;
    }
  }

  &__TabListWrapper {
    // @extend %grid;
  }

  &__ButtonWave {
    margin-top: -2px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    padding-top: 15rem;
    height: 0;
    z-index: 2;
    background-color: $colorWhiteBackground;

    @include media(tablet) {
      margin-top: -2px;
      padding-top: 20rem;
    }
    @include media(desktop) {
      margin-top: -2px;
      padding-top: 26rem;
    }

    &::after {
      content: '';
      position: absolute;
      top: -2px;
      left: -2px;
      right: -2px;
      bottom: -2px;
      background-image: url('#{$patternPath}waveBlue6.svg');
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      z-index: 1;
    }
  }

  // &__ButtonWrapper {
  //   position: absolute;
  //   top: 0;
  //   z-index: 2;
  // }

  &__Padding {
    padding-bottom: $spacingBlock;
    transition: background-color $transitionNormal;

    &--White {
      background-color: $colorWhiteBackground;
    }

    &--Black {
      background-color: $colorPrimaryBlue;
    }
  }
}
