@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.Button {
  display: inline-flex;
  align-items: center;
  padding: $spacingL $spacingL * 2 $spacingL $spacingM;
  background-color: $colorPrimary;
  border-radius: $radiusButtonSmall;
  position: relative;
  outline: none;
  border: 2px solid $colorBlack;
  box-shadow: $boxShadowCardSmall;
  @extend %label;
  font-weight: 900;
  @extend %fontColorBlack;
  text-decoration: none;
  transition: all $transitionNormal;

  &:hover,
  &:focus {
    background-color: $colorBlack;
    color: $colorPrimary;

    svg {
      color: $colorPrimary;
      fill: $colorPrimary;
    }
  }

  // &__Style {
  //   display: block;
  //   text-decoration: none;
  //   @extend %label;
  //   font-weight: 900;
  //   @extend %fontColorBlack;
  // -webkit-transition: none !important;
  // -moz-transition: none !important;
  // -ms-transition: none !important;
  // -o-transition: none !important;
  // transition: none !important;
  // }

  // &__Link {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 2;
  //   font-size: 0;
  // }

  &__IconWrapper {
    height: $spacingXl;
    width: $spacingXl;
    margin-left: $spacingXl;
    transition: transform $transitionNormal;

    .Button:hover &,
    .Button:focus & {
      transform: translateX(3rem);
    }
  }
  // .Button:hover &__IconHover {
  //   svg {
  //     color: $colorPrimary;
  //   }
  // }
}
