@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.Button {
  display: inline-block;
  padding: $spacingL $spacingL * 2 $spacingL $spacingM;
  background-color: $colorSecondary;
  border-radius: $radiusButtonSmall;
  position: relative;
  outline: none;
  color: $colorPrimary;
  overflow: hidden;
  box-shadow: $boxShadowCardSmall;
  @extend %label;
  font-weight: 900;
  @extend %fontColorBlack;
  text-decoration: none;
  transition: all $transitionNormal;
  will-change: transform;

  svg {
    color: $colorPrimary;
    fill: $colorPrimary;
  }

  &::after {
    content: '';
    @include posAbsolute(0, 80%);
    will-change: transform;
    background: radial-gradient(
      circle at right,
      $colorSecondaryLight 10%,
      $colorSecondary
    );
    z-index: 5;
    opacity: 0;
    transition: all $transitionNormal;

    // .Button--Secondary.& {
    //   background: transparent;
    // }

    
    // transition: all $transitionMediumSlow;
  }

  // .Button--Secondary.Button::after{
  //   background: none !important;
  // }

  &:hover,
  &:focus {
    &::after {
      transform: translate(-75%, 0);
      opacity: 1;
    }
  }

  &--Secondary{
    // border: 1px solid red;
    background-color: transparent;
    // outline: 3px solid $colorSecondary;
    box-shadow: inset 0px 0px 0px 3px $colorSecondary;
    color: $colorSecondary;

    svg {
      color: $colorSecondary !important;
      fill: $colorSecondary !important;
    }

    &.Button::after {
      background: transparent;
    }
  }

  &__TextWrapper {
    position: relative;
    z-index: 10;
    // display: block;
    display: inline-flex;
    align-items: center;
  }

  &__IconWrapper {
    height: $spacingXl;
    width: $spacingXl;
    margin-left: $spacingXl;
    transition: transform $transitionNormal;

    .Button:hover &,
    .Button:focus & {
      transform: translateX(3rem);
    }
  }
}
