@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.Carousel {
  margin-bottom: $spacingXl * 2;
  //   height: 30rem;
  //   border: 1px solid red;
  overflow: visible;
  //   display: flex;
}
// .swiper-button-next {
//   top: 0;
//   background: white !important;
//   border: 1px solid red;
//   // height: ;
// }

.InfoCard {
  height: 100%;
  background: mediumaquamarine;
  color: black;
  font-size: 10rem;
  padding: 10rem 3rem;
}
