@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.ContentCard {
  display: flex;
  flex-direction: column;
  // padding-bottom: $spacingXl * 2;
  padding-bottom: 0;
  //   padding: $spacingXl $spacingM $spacingL * 2;
  //   background-color: $colorWhite;
  //   box-shadow: $boxShadowCard;
  //   margin-bottom: $spacingXl * 2;

  @include media(tablet) {
    flex-direction: row;
    padding-bottom: $spacingBlock;

    &:last-of-type {
      padding-bottom: 0;
    }
    // padding: $spacingL * 2 $spacingM $spacingXl * 2;
  }

  &--Reverse {
    flex-direction: column-reverse;

    @include media(tablet) {
      flex-direction: row-reverse;
    }
  }

  &--ReverseWrap {
    flex-direction: column;

    @include media(tablet) {
      flex-direction: row-reverse;
    }
  }

  &__Text {
    flex: 0 0 100%;
    @extend %textBlock;
    padding-bottom: $spacingXl;

    // & p:last-child {
    //   padding-bottom: $spacingL !important;
    // }

    @include media(tablet) {
      flex: 0 0 50%;
      padding-right: $spacingL * 2;
      padding-left: $spacingXl * 2;
      padding-bottom: 0;

      & p:last-child {
        padding-bottom: 0 !important;
      }

      .ContentCard--Reverse & {
        padding-left: $spacingL * 2;
      }
    }
  }

  &__CodeWrapper {
    flex: 0 0 100%;

    @include media(tablet) {
      flex: 0 0 50%;
      // border: 1px solid blue;
    }
  }

  &__ImageWrapper {
    // position: relative;
    flex: 0 0 100%;
    // min-height: 40rem;
    display: flex;
    flex-direction: column;

    @include media(tablet) {
      flex: 0 0 50%;
      // min-height: 50rem;
      // border: 1px solid blue;
    }
  }

  &__MediaWrapper {
    position: relative;
    flex: 0 0 100%;
    padding-bottom: $spacingXl;
    // width: 50%;

    @include media(tablet) {
      flex: 0 0 50%;
      height: 100%;
      padding: 2rem;
      background-color: $colorPrimary;
      box-shadow: $boxShadowCard;
      // border: 1px solid blue;
    }
  }

  &__VideoTitleWrapper {
    position: absolute;
    left: -2rem;
    top: -2rem;
    height: 6rem;
    width: 6rem;
    background: radial-gradient(
      circle at bottom right,
      $colorSecondary 60%,
      $colorSecondaryLight
    );
    // background: radial-gradient(
    //   circle at bottom right,
    //   $colorWhite 40%,
    //   $colorPrimary
    // );
    box-shadow: $boxShadowCard;
    z-index: 2;
    border-radius: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(tablet) {
      left: -2.5rem;
      top: -2rem;
      height: 8rem;
      width: 8rem;
    }

    .ContentCard--Reverse & {
      @include media(tablet) {
        // left: 2.5rem;
        left: calc(100% - 5.5rem);
        background: radial-gradient(
          circle at bottom left,
          $colorSecondary 60%,
          $colorSecondaryLight
        );
        // background: radial-gradient(
        //   circle at bottom left,
        //   $colorWhite 40%,
        //   $colorPrimary
        // );
      }
    }
  }

  &__VideoTitle {
    // position: absolute;
    top: 2rem;
    left: 2rem;
    @extend %h4;
    padding-bottom: $spacingS;
    // background: $colorBlack;
    // background: radial-gradient($colorPrimary);
    // padding: 2rem 5rem 5rem 2rem;
    // border-bottom-right-radius: 50%;
    // padding: 5rem;
    color: $colorPrimary;
    // color: $colorBlack;
    z-index: 2;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   left: -50%;
    //   top: -50%;
    //   transform: translate(25%, 25%);
    //   height: 16rem;
    //   width: 16rem;
    //   background: $colorBlack;
    //   z-index: -1;
    //   border-radius: 50%;
    // }
  }
}
