// @import '../styles/index.scss';
@import '../styles/variables.scss';

.Test {
  //   font-family: 'Roboto', sans-serif;
  font-family: $font;
  //   color: red;
  font-size: 5rem;
}

.Button {
  display: block;
  padding: 2rem;
  background-color: hotpink;

  &--Dark {
    background-color: steelblue;
  }
}
