@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.ConstructionPage {
  &__Grid {
    @extend %grid;
  }

  &__Title {
    @extend %pageTitle;
    // @extend %h1;
    // @extend %titleWidth;
    // z-index: 2;
    // position: relative;
    // word-break: break-word;
    // hyphens: manual;
    margin-top: -2rem;

    @include media(ms) {
      margin-top: -5rem;
    }

    @include media(tablet) {
      margin-top: -7rem;
    }

    @include media(desktop) {
      margin-top: -10rem;
    }

    @include media(xl) {
      margin-top: -11rem;
    }
  }

  &__EntryWrapper {
    position: relative;
    z-index: 2;
  }

  &__Block {
    background-color: $colorPrimary;

    &--White {
      background-color: $colorWhite;
    }

    &--Dark {
      background-color: $colorBlack;
    }

    // &--Accessibility {
    // padding-bottom: $spacingL * 2;
    // }
  }

  &__WaveWrapper {
    @extend %waveWrapper;
    padding-top: $spacingBlock + $spacingL;

    @include media(tablet) {
      padding-top: $spacingBlock * 2;
    }

    &--Design {
      padding-top: $spacingBlock + $spacingL;
      padding-bottom: $spacingBlock;

      @include media(tablet) {
        padding-top: $spacingBlock * 3;
        padding-bottom: $spacingBlock * 2;
      }
    }

    &--Accessibility {
      // padding-bottom: $spacingBlock + $spacingL * 2;
      padding-bottom: $spacingBlock;

      @include media(tablet) {
        padding-bottom: $spacingBlock * 3;
      }
    }

    &--Optimization {
      padding-top: $spacingBlock * 2;

      @include media(tablet) {
        padding-top: $spacingBlock * 3;
      }
    }
    // @extend %blockSpacing;
    // position: relative;
    // height: 100%;
    // width: 100%;
    // z-index: 2;

    &::after {
      // content: '';
      // position: absolute;
      background-image: url('#{$patternPath}topWave_Construction_Design3.svg');
      // background-image: url('#{$patternPath}topWave_Construction_Design2.svg');
      // background-position: top;
      // background-size: contain;
      // background-repeat: no-repeat;
      // top: -1px;
      // right: -1px;
      // left: -1px;
      // height: 50rem;
      // width: calc(100% + 2px);
      // z-index: 0;

      .ConstructionPage__Block--Accessibility & {
        background-image: url('#{$patternPath}topWave_Construction_Accessibility.svg');
      }

      .ConstructionPage__Block--Optimization & {
        background-image: url('#{$patternPath}topWave_Construction_Optimization2.svg');
        // background-image: url('#{$patternPath}topWave_Construction_Optimization.svg');
      }
    }
  }

  &__Paragraph {
    position: relative;
    z-index: 3;
    // @extend %paragraphPaddingBottom;
    @extend %textBlock;
    padding-bottom: $spacingBlock + 2;
    // padding-bottom: $spacingS;

    // @include media(tablet) {
    //   padding-bottom: $spacingM;
    // }
    // @include media(xl) {
    //   padding-bottom: $spacingL;
    // }
  }

  &__Block--Accessibility h2 {
    // padding-top: 8rem;
  }

  &__CarouselWrapper {
    // padding: 4rem;
  }

  &__CarouselTitle {
    @extend %h2;
    @extend %fontColor;
    padding-bottom: $spacingXl;
  }

  // &__Background {
  //   @extend %grid;
  //   transition: background-color 1s ease-in-out;
  //   will-change: transform;
  //   background-color: $colorWhite;
  //   z-index: 1;

  //   &--White {
  //     background-color: $colorWhite;
  //   }
  //   &--Black {
  //     background-color: $colorBlack;
  //   }
  // }

  &__Subtitle,
  &__Em {
    @extend %h2;
    display: block;
  }

  &__Em {
    @extend %emPaddingBottom;
    // padding-bottom: $spacingM;

    // @include media(desktop) {
    //   padding-bottom: $spacingL;
    // }
  }

  // &__Line {
  //   padding-top: $spacingBlock;
  //   width: 100%;
  //   &--Dark {
  //     background-color: $colorWhiteBackground;
  //   }
  // }

  &__Preamble {
    @extend %preamble;
    padding-bottom: $spacingBlock;
  }

  &__Paragraph {
    // h2 {
    //   @extend %h2;
    // }

    // h3 {
    //   @extend %h3;
    // }

    // p {
    //   @extend %richtext;

    //   span {
    //     display: inline-block;
    //   }

    //   &:last-of-type {
    //     padding-bottom: $spacingL * 2;
    //   }
    // }
  }
  // &__ParagraphPres {
  //   @include media(tablet) {
  //     max-width: 90%;
  //   }

  //   @include media(desktop) {
  //     max-width: 100%;
  //   }

  //   h2 {
  //     @extend %h2;
  //   }

  //   p {
  //     position: relative;
  //     z-index: 10;
  //     @extend %richtext;
  //   }
  // }

  // &__CodeWrapper {
  //   width: 100%;
  //   height: 60rem;
  //   border: 1px solid red;
  //   overflow-y: scroll;
  //   // scrollbar-width: 1rem;

  //   // span {
  //   //   display: inline-block;
  //   // }
  //   // overflow-y: scroll;
  //   // * {
  //   //   overflow-y: scroll !important;
  //   // }

  //   // &::-webkit-scrollbar {
  //   //   width: 0;
  //   // }
  // }

  // code {
  //   @extend %code;
  // }

  // &__PresImageWrapper {
  //   position: relative;
  //   padding-right: $spacingXl * 2;
  //   height: 13rem;
  //   width: 13rem;
  //   border-radius: 50%;
  //   shape-outside: circle();
  //   object-fit: cover;
  //   float: right;
  //   border: 5px solid $colorWhite;
  //   box-shadow: $boxShadowCard;
  //   z-index: 5;

  //   @include media(ms) {
  //     height: 20rem;
  //     width: 20rem;
  //   }
  //   @include media(desktop) {
  //     height: 25rem;
  //     width: 25rem;
  //   }
  //   @include media(xl) {
  //     height: 35rem;
  //     width: 35rem;
  //     top: -5rem;
  //   }

  //   &::after {
  //     content: '';
  //     top: 0;
  //     right: 0;
  //     width: 25rem;
  //     height: 25rem;
  //     border-radius: 50%;
  //     position: absolute;
  //     z-index: -1;
  //   }
  // }

  // &__ButtonWave {
  //   margin-top: -2px;
  //   position: relative;
  //   display: flex;
  //   justify-content: center;
  //   align-items: baseline;
  //   width: 100%;
  //   padding-top: 15rem;
  //   height: 0;
  //   z-index: 2;
  //   background-color: $colorWhiteBackground;

  //   @include media(tablet) {
  //     margin-top: -2px;
  //     padding-top: 20rem;
  //   }
  //   @include media(desktop) {
  //     padding-top: 26rem;
  //   }

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     top: -2px;
  //     left: -2px;
  //     right: -2px;
  //     bottom: -2px;
  //     background-image: url('#{$patternPath}waveBlue6.svg');
  //     background-position: top;
  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     z-index: 1;
  //   }
  // }

  &__Lighthouse {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 0 $spacingBlock + $spacingL;
    position: relative;
    z-index: 1;

    @include media(tablet) {
      padding: 0 0 $spacingBlock + $spacingL * 2;
    }
    // padding: $spacingXl * 2;

    // &__Text {
    //   @extend %preamble;
    //   padding-bottom: 0;
    //   text-align: center;

    //   .EntryCentered--Dark & {
    //     color: $colorPrimary;
    //   }
    // }
  }

  &__LighthouseTitle {
    @extend %h1;
    padding-bottom: $spacingXl;
    text-align: center;
    .EntryCentered--Dark & {
      color: $colorPrimary;
    }
  }

  &__OuterImageWrapper {
    // border: 1px solid red;
    width: 100%;
    max-width: 100rem;
    height: auto;
    box-shadow: $boxShadowMedium;

    @include media(tablet) {
      width: 80%;
    }
  }

  &__LighthouseImageWrapper {
    position: relative;
    width: 100%;
    padding-top: calc(1031 / 1920 * 100%);
    height: 0;
    // width: 75rem;
    // margin-top: -$spacingXl * 2;
    // padding-bottom: $spacingBlock;
    // padding-top: 56.25%;
    img {
      object-position: 100% 0%;
    }
  }
}
