@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.MainNav {
  display: none;
  position: relative;
  @extend %grid;

  @include media(tablet) {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    // &--Hide {
    //   display: none;
    // }
  }

  &--Construction.MainNav {
    &::after {
      content: '';
      // border: 1px solid red;
      // @include bgColorOpacity($colorWhite, 0.2);
      @include posAbsolute(-5rem);
      height: 200%;
      @include bgColorGradient(
        to bottom,
        $colorPrimary,
        0.9,
        0%,
        $colorWhite,
        0,
        80%
      );
      transition: all $transitionNormal;
    }

    // z-index: 50;

    &:hover.MainNav--Construction.MainNav::after {
      transform: translateY(5rem);
      // @include bgColorOpacity($colorWhite, 0.9);
      // @include bgColorOpacity($colorBlack, 0.3);
      // @include bgColorGradient(
      //   to bottom,
      //   $colorSecondaryLight,
      //   0.8,
      //   0%,
      //   $colorWhite,
      //   0.4,
      //   80%
      // );
    }
  }
  // &--Construction.MainNav {
  //   // @include bgColorOpacity($colorWhite, 0.2);
  //   @include bgColorGradient(
  //     to bottom,
  //     $colorWhite,
  //     0.4,
  //     0%,
  //     $colorWhite,
  //     0,
  //     50%
  //   );
  //   transition: all $transitionNormal;

  //   &:hover {
  //     @include bgColorOpacity($colorWhite, 0.9);
  //     // @include bgColorOpacity($colorBlack, 0.3);
  //     // @include bgColorGradient(
  //     //   to bottom,
  //     //   $colorSecondaryLight,
  //     //   0.8,
  //     //   0%,
  //     //   $colorWhite,
  //     //   0.4,
  //     //   80%
  //     // );
  //   }
  // }

  &__Logo {
    padding-top: $spacingS;
    display: block;

    img {
      width: 16rem;

      @include media(desktop) {
        width: 20rem;
      }
    }
  }

  &__List {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__ListItem {
    @include media(tablet) {
      padding: $spacingL $spacingS;
    }

    @include media(desktop) {
      padding: $spacingL $spacingS;
    }

    @include media(xl) {
      padding-right: $spacingL;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__Link {
    text-decoration: none;
    @extend %label;
    color: $colorBlack;
    position: relative;
    padding: $spacingXs $spacingS;
    display: inline-block;
    z-index: 1;
    transition: transform $transitionNormal;
    transform: scale(1);

    // .MainNav--Construction & {
    //   color: $colorPrimary;
    // }

    &::after {
      content: '';
      display: block;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include bgColorOpacity($colorPrimary, 0.5);
      transition: all $transitionNormal;
      transform: rotateX(-90deg) scale(1);

      .MainNav--Construction & {
        @include bgColorOpacity($colorBlack, 0.5);
      }
    }

    &:hover,
    &:focus {
      &::after {
        @include bgColorOpacity($colorPrimary, 1);
        transform: rotateX(-360deg) scale(1.1);

        .MainNav--Construction & {
          background: none;
          border: 1px solid $colorBlack;
        }
      }
    }
  }
}
