@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.MainNav {
  display: none;
  position: relative;
  @extend %grid;

  @include media(tablet) {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__Logo {
    padding-top: $spacingS;
    display: block;

    img {
      width: 16rem;

      @include media(desktop) {
        width: 20rem;
      }
    }
  }

  &__List {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__ListItem {
    @include media(tablet) {
      padding: $spacingL $spacingS;
    }

    @include media(desktop) {
      padding: $spacingL $spacingS;
    }

    @include media(xl) {
      padding-right: $spacingL;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  &__Link {
    text-decoration: none;
    @extend %label;
    color: $colorBlack;
    @include bgColorOpacity($colorPrimary, 0.5);
    padding: $spacingXs $spacingS;
    transition: background-color $transitionNormal;

    &:hover,
    &:focus {
      @include bgColorOpacity($colorPrimary, 1);
    }
  }
}
