// @import '../../styles/variables.scss';
// @import '../../styles/includes.scss';
@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.MobileNav {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;

  @include media(tablet) {
    display: none;
  }

  // &__ButtonWrapper {
  //   // border: 1px solid red;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 50000;
  // }

  &__Button {
    padding: 0.5rem;
    position: fixed;
    top: $spacingM;
    right: $spacingM;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    flex-direction: column;
    // border: 1px solid $colorBlack;
    border: none;
    align-items: center;
    justify-content: space-evenly;
    border-radius: $radiusButtonSmall;
    box-shadow: $boxShadowCard;
    background-color: $colorPrimary;
    outline: none;
    z-index: 2000;
    transition: all $transitionNormal;

    &--Active {
      background-color: $colorBlack;
    }

    &--Sticky {
      position: fixed;
    }
    // padding: 0.5rem;
    // position: absolute;
    // bottom: $spacingM;
    // right: $spacingM;
    // height: 5.5rem;
    // width: 5.5rem;
    // display: flex;
    // flex-direction: column;
    // border: none;
    // align-items: center;
    // justify-content: space-evenly;
    // border-radius: 0.5rem;
    // box-shadow: 0px 0px 6px $colorWhiteBackground;
    // background-color: $colorWhiteBackground;
    // outline: none;
    // z-index: 2000;
    // opacity: 1;
    // transition: all $transitionNormal;

    // &--Active {
    //   background-color: $colorPrimaryBlue;
    //   box-shadow: 0px 0px 6px $colorPrimaryBlue;
    // }

    // &--Sticky {
    //   position: fixed;
    // }
  }

  &__Line {
    height: 2px;
    width: 100%;
    background-color: $colorBlack;
    border-radius: 2px;
    transition: all $transitionNormal;
    transform: rotate(0deg);

    &--1 {
      transform: translate(0, 0);
      opacity: 1;
      .MobileNav__Button--Active & {
        transform: translate(0, -1.5rem);
        opacity: 0;
      }
    }

    &--3 {
      transform: translate(0, 0);
      opacity: 1;
      .MobileNav__Button--Active & {
        transform: translate(0, 1.5rem);
        opacity: 0;
      }
    }

    &--2 {
      transform: rotate(0deg);

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: $colorBlack;
        transform: rotate(0deg);
        transition: all $transitionNormal;
      }

      .MobileNav__Button--Active & {
        // background-color: green;
        transform: rotate(45deg);
      }

      .MobileNav__Button--Active &::after {
        background-color: $colorPrimary;
        // background-color: blue;
        transform: rotate(-90deg);
      }

      // &::after {
      //   content: '';
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 2px;
      //   border-radius: 2px;
      //   background-color: red;
      //   transform: rotate(0deg);

      //   .MobileNav__Line--2.MobileNav__Line--Active & {
      //     transform: rotate(135deg);
      //     background-color: yellow;
      //   }
      // }

      // &.MobileNav__Line--Active {
      //   transform: rotate(45deg);
      // }
    }

    // &:nth-of-type(3) {
    //   &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 2px;
    //     border-radius: 2px;
    //     background-color: red;
    //     transform: rotate(0deg);
    //   }
    // }

    &--Active {
      background-color: $colorPrimary;
      display: inline-block;
    }

    // &:last-child {
    //   margin-bottom: 0;
    // }
  }

  &__Menu {
    position: fixed;
    display: none;
    // top: calc(100vh + (16px + 15px + 55px));
    top: 0rem;
    right: 0rem;
    width: 100vw;
    height: 100vh;
    clip-path: circle(0rem at calc(100% - 4.2rem) calc(0% + 3.8rem));
    outline: none;
    background-color: $colorPrimary;
    // background-color: red;
    // opacity: 1;
    z-index: 999;
    transition: clip-path $transitionNormal;
    overflow-y: auto;
    padding-top: $spacingL * 2;

    &--Active {
      display: block;
      clip-path: circle(150rem at calc(100% - 3.8rem) 100%);
      // opacity: 1;
      z-index: 1000;
      // outline: none;
    }
  }

  &__Nav {
    position: relative;
    padding: 5rem;
  }

  &__NavList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    @for $i from 0 through 20 {
      :nth-child(#{$i + 1}) {
        transition-delay: 0.1s * $i;
      }
    }
  }

  &__MenuIconWrapper {
    width: $spacingL;
    height: $spacingL;
    margin-right: $spacingS;
  }

  &__NavListTitle {
    will-change: transform;
    transform: translateZ(0);
    display: flex;
    align-items: center;
    transform: translate(0, 0);
    transition: all 0.3s ease-in;
    opacity: 1;
    margin-bottom: $spacingM;
    padding: $spacingS $spacingM 0 $spacingS;
    border-bottom: 1px solid $colorBlack;

    &--Drop {
      transform: translate(0, 10rem);
      opacity: 0;
    }
  }

  &__NavListTitleText {
    position: relative;
    display: block;
    color: $colorBlack;
    text-decoration: none;
    font-weight: 400;
    @extend %labelFat;
    margin-bottom: 0;
  }

  &__NavListItem {
    will-change: transform;
    transform: translateZ(0);
    transform: translate(0, 0);
    transition: all 0.3s ease-in;
    opacity: 1;
    margin-bottom: $spacingM;
    margin-left: $spacingM;

    &--Drop {
      transform: translate(0, 10rem);
      opacity: 0;
    }
  }

  &__NavLink {
    position: relative;
    display: inline-block;
    margin-left: $spacingL;
    color: $colorPrimaryBlue;
    text-decoration: none;
    font-weight: 400;
    @extend %h2;
    text-transform: lowercase;

    &::before {
      content: '-';
      position: absolute;
      left: -$spacingL;
    }
  }
}
