@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.ImageAndText {
  $root: &;
  display: flex;
  flex-direction: row;
  padding-bottom: $spacingXl;

  &--Left {
    flex-direction: row-reverse;
  }

  &__TextWrapper {
    @extend %internshipTextBlock;

    #{$root}--Light & {
      @extend %themeColor;
    }
  }

  &__ImageWrapper {
    position: relative;
    height: 45rem;
    width: 100%;
    display: block;

    .ImageAndText--Left & {
      margin-left: 0;
      margin-right: 6rem;
    }
  }

  &__Figure {
    position: relative;
    flex: 1 1 50%;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;

    .ImageAndText--Left & {
      margin-left: 0;
      margin-right: 6rem;
    }
  }

  &__Caption {
    @extend %bodySmall;
    min-width: 100%;
    text-align: right;
    margin: $spacingXs 0;

    .ImageAndText--Left & {
      text-align: left;
    }
  }
}
