@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.ImageAndText {
  $root: &;
  display: flex;
  flex-direction: column;
  padding-bottom: $spacingXl;

  @include media(tablet) {
    flex-direction: row;
    padding-bottom: $spacingBlock + $spacingL * 2;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  &--Left {
    @include media(tablet) {
      flex-direction: row-reverse;
    }
  }

  &__TextWrapper {
    // @extend %internshipTextBlock;
    @extend %textBlock;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;

    @include media(tablet) {
      padding-bottom: 0;
    }

    img {
      width: 100%;
      height: auto;
      padding-top: $spacingXl;
    }

    .ImageAndText--Light & {
      // border: 1px solid red;
      // @extend %fontColorBlack;
      color: $colorBlack !important;
      a {
        @extend %linkLight;
      }
      // @extend %themeColor;
    }
    .ImageAndText--Dark & {
      // border: 1px solid red;
      // @extend %fontColorBlack;
      color: $colorPrimary;
      a {
        // @extend %linkLightHover;
        @extend %linkDark;
      }
      // @extend %themeColor;
    }
  }

  &__ImageWrapper {
    position: relative;
    width: 100%;
    height: 40rem;
    display: block;

    @include media(tablet) {
      height: 45rem;
    }

    .ImageAndText--Left & {
      margin-left: 0;
    }
  }

  &__Figure {
    position: relative;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;

    @include media(ms) {
      // width: 85%;
    }

    @include media(tablet) {
      margin-left: 6rem;
    }

    .ImageAndText--Left & {
      margin-left: 0;

      @include media(tablet) {
        margin-right: 6rem;
      }
    }
  }

  &__Caption {
    @extend %bodySmall;
    min-width: 100%;
    text-align: right;
    margin: $spacingXs 0;
    @extend %fontColor;
    padding-bottom: 0;

    #{$root}--Light & {
      @extend %fontColorBlack;
    }

    .ImageAndText--Left & {
      @include media(tablet) {
        text-align: left;
      }
    }
  }
}
