@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.Modal {
  @include posFixed;
  @include bgColorOpacity($colorPrimary, 0.98);
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
  transition: all $transitionNormal;
  display: none;
  // @extend %grid;
  padding: 5rem 2rem 2rem;

  @include media(tablet) {
    padding: 5rem 7rem;
  }
  //   @include media(xl) {
  //     padding: 10rem 15rem;
  //   }

  &--Display {
    display: flex;
  }

  &--Active {
    opacity: 1;
    z-index: 2001;
  }

  &__Close {
    // @include posAbsolute(5rem, calc(100% - 12rem));
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    height: 3rem;
    width: 3rem;
    border: none;
    border-radius: $radiusButtonSmall;
    background: none;
    transition: background-color $transitionQuick;

    svg {
      height: 100%;
      width: 100%;
      fill: $colorBlack !important;
      color: $colorBlack !important;
      transition: fill $transitionQuick;
    }

    @include media(tablet) {
      top: 5rem;
      right: 7rem;
    }

    &:hover,
    &:focus {
      background: $colorBlack;

      svg {
        fill: $colorPrimary !important;
      }
    }
  }

  &__Content {
    position: relative;
    // width: 100%;
    width: calc(100% - 50px);
    max-width: 144rem;
    height: 100%;
  }
}
