@font-face {
    font-family: 'Fira Code';
    src: local('Fira Code Regular'), local('Fira-Code-Regular'),
        url('FiraCode-Regular.woff2') format('woff2'),
        url('FiraCode-Regular.woff') format('woff'),
        url('FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }