// @import '../styles/includes.scss';
@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.BaseContainer {
  max-width: 144rem;
  margin: 0 auto;
  overflow: hidden;
  background-color: $colorPrimary;
  box-shadow: $boxShadowContainer;

  &__Header {
    position: relative;
  }

  &__Logo {
    position: absolute;
    display: block;
    top: $spacingMl;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @extend %grid;

    @include media(tablet) {
      display: none;
    }

    img {
      width: 14rem;

      @include media(ms) {
        width: 16rem;
      }
    }
  }

  &__StickyContainer {
    position: sticky;
    top: calc(16px + 15px + 55px);
    z-index: 100;
  }
}
