// @import '../styles/includes.scss';
@import '../styles/variables.scss';
@import '../styles/extensions.scss';

.Base {
  max-width: 144rem;
  margin: 0 auto;
  // border: 1px solid black;
  overflow: hidden;
  // @extend %grid;
  // background-color: $colorPrimaryBlue;
  background-color: $colorPrimary;

  &__Header,
  &__Footer {
  }
}

.StickyContainer {
  position: sticky;
  top: calc(16px + 15px + 55px);
  z-index: 100;
}
