// @import '../styles/includes.scss';
@import '../styles/variables.scss';
@import '../styles/extensions.scss';

.Base {
  max-width: 144rem;
  margin: 0 auto;
  // border: 1px solid black;
  overflow: hidden;
  // @extend %grid;
  // background-color: $colorPrimaryBlue;
  background-color: $colorPrimary;
  box-shadow: $boxShadowContainer;

  &__Header,
  &__Footer {
  }

  &__Header {
    position: relative;
  }

  &__Logo {
    // border: 1px solid red;
    position: absolute;
    display: block;
    top: $spacingMl;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    @extend %grid;

    @include media(tablet) {
      display: none;
    }

    img {
      width: 14rem;
      // height: 10rem;

      @include media(ms) {
        width: 16rem;
      }
    }
  }
}

.StickyContainer {
  position: sticky;
  top: calc(16px + 15px + 55px);
  z-index: 100;
}
