@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
@import '../../styles/extensions.scss';

.CardCarousel {
  //   border: 1px solid red;

  height: 35rem;

  box-shadow: $boxShadowCard;
  overflow: hidden;
  border-radius: $radiusCardSmall;
  transition: transform $transitionNormal;
  position: relative;
  max-width: 45rem;
  margin: 0 auto;

  @include media(tablet) {
    height: 50rem;
  }
  // @include media(tablet) {
  // }

  //   &:hover {
  //     transform: scale(1.05);
  //   }

  &__Button {
    @include posAbsolute;
    background: none;
    z-index: 10;
    border: none;

    //    &+div img{
    //           transform: scale(1.2);
    //     }

    &:hover {
      & + div img {
        transform: scale(1.09);
      }
    }
  }

  &__ImageWrapper {
    position: relative;
    // height: 20rem;
    overflow: hidden;
    height: 55%;

    @include media(tablet) {
      height: 45%;
    }

    // @include media
  }

  &__TextWrapper {
    box-shadow: $boxShadowCard;
    background-color: $colorBlack;
    height: 100%;
    padding: $spacingM $spacingL $spacingM;

    .CardCarousel--Dark & {
      background-color: $colorPrimary;
    }
  }

  &__Title {
    @extend %cardTitle;
    padding-bottom: $spacingS;
    color: $colorPrimary;

    .CardCarousel--Dark & {
      color: $colorBlack;
    }
  }

  &__Text {
    color: $colorPrimary;
    // @extend %richtext;
    // @extend %bodySmall;
    @extend %cardText;

    // @include media(tablet) {
    //   @extend %p;
    // }

    .CardCarousel--Dark & {
      color: $colorBlack;
    }
  }
}
