@import '../../styles/variables.scss';
@import '../../styles/extensions.scss';

.Tab {
  position: relative;
  display: flex;
  margin-bottom: $spacingL;
  border-radius: $radiusCardSmall;
  box-shadow: $boxShadowCardSmall;
  padding: $spacingXs 0 $spacingS 0;
  justify-content: space-between;
  background-color: $colorWhite;

  &--Dark {
    box-shadow: $boxShadowCardSmallWhite;
    background-color: $colorBlack;
  }

  @include media(desktop) {
    flex-direction: column;
    align-items: center;
    height: 25rem;
    width: 100%;
    transform: scale(1);
    transition: transform $transitionNormal;
    will-change: transform;

    &:hover {
      transform: scale(1.05);
    }
  }

  &--Dark {
    // background-color: $colorPrimaryBlue;
  }

  // &__Button:focus{

  // }

  &__Button {
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    border: none;
    outline-color: $colorBlack;

    .Tab--Dark & {
      outline-color: $colorWhite;
    }

    &:focus + .Tab__Overlay,
    &:hover + .Tab__Overlay {
      @include bgColorOpacity($colorBlack, 0.8);
    }

    .Tab--Dark &:focus + .Tab__Overlay,
    .Tab--Dark &:hover + .Tab__Overlay {
      @include bgColorOpacity($colorWhite, 0.8);
    }

    &:hover {
      // background-color: red;
    }

    &:active,
    &:focus {
      // background-color: green;
      // background-color: none;
    }

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-color: steelblue;
    //   z-index: -5;
    // }
  }

  &__Overlay {
    position: absolute;
    // border: 1px solid red;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $colorWhite;
    z-index: -1;
    transition: all $transitionQuick;

    .Tab--Dark & {
      background-color: $colorBlack;
    }
  }

  &__TextWrapper {
    display: inline;
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;

    @include media(tablet) {
      display: flex;
      // justify-content: space-between;
      flex-direction: column;
      align-items: flex-end;
    }
    @include media(desktop) {
      display: flex;
      justify-content: space-between;
      // flex-direction: column;
      align-items: center;
    }
  }

  &__Title {
    padding-bottom: $spacingXs;
    padding-left: $spacingXs;
    @extend %fontColorBlack;
    position: relative;
    display: inline-block;
    text-align: right;
    transition: color $transitionQuick;
    @extend %knowledgeTitle;

    @include media(tablet) {
      text-align: center;
      padding-bottom: 0;
    }

    .Tab--Dark & {
      @extend %fontColor;
    }

    &::after {
      content: '';
      background-color: $colorPrimaryBlue;
      height: 2px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: $spacingXs;

      .Tab--Dark & {
        background-color: $colorWhiteBackground;
      }

      @include media(tablet) {
        display: none;
      }
    }
  }

  .Tab__Button:hover + span + div + div > div > *,
  .Tab__Button:focus + span + div + div > div > * {
    @include media(desktop) {
      color: $colorWhite;
      * {
        color: $colorWhite;
      }
    }
  }

  &--Dark .Tab__Button:hover + span + div + div > div > *,
  &--Dark .Tab__Button:focus + span + div + div > div > * {
    @include media(desktop) {
      color: $colorBlack;
      * {
        color: $colorBlack;
      }
    }
  }

  &__Knowledge {
    // @extend %bodyFat;
    @extend %bodySmall;
    @extend %fontColorBlack;
    margin-bottom: $spacingS;
    padding-top: $spacingXs;
    padding-left: $spacingXs;
    display: block;
    transition: color $transitionQuick;

    .Tab--Dark & {
      @extend %fontColor;
    }

    &--Strong {
      @extend %body;
      @extend %fontColorBlack;
      transition: color $transitionQuick;

      &--Dark {
        // color: $colorWhiteBackground !important;
      }

      .Tab--Dark & {
        @extend %fontColor;
      }
    }

    .Tab--Dark & {
      @extend %fontColor;
    }
  }

  &__TextAndDropDownWrapper {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $spacingXs;
    padding-left: $spacingS;
    padding-right: $spacingS;

    @include media(tablet) {
      // width: calc(100% - 16px);
      // padding-left: $spacingL;
      width: 60%;
    }
    @include media(desktop) {
      width: 100%;
      padding-left: 0;
    }
  }

  &__IconWrapper {
    // border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $radiusButtonSmall;
    padding-left: $spacingS;

    @include media(tablet) {
      padding-left: 0;

      // display: block;
      // width: 100%;
      // height: 100%;
      // max-width: 20rem;
      // max-width: 16.5rem;
      width: 15.5rem;
      // max-height: 15.5rem;
      height: 15.5rem;
      // padding: $spacingMl;
      // overflow: hidden;
      // svg {
      //   object-fit: cover;
      //   width: 100%;
      // }
    }

    .Tab--Dark & {
      // background-color: $colorWhiteBackground;
    }
  }

  &__Height {
    // border: 1px solid green;
    // height: 100%;
    height: 12rem;
    width: 12rem;

    .Tab:focus &,
    .Tab:hover & {
      @include media(desktop) {
        svg {
          color: $colorWhite;
          fill: $colorWhite;
        }
      }
    }
    .Tab--Dark:focus &,
    .Tab--Dark:hover & {
      @include media(desktop) {
        svg {
          color: $colorBlack;
          fill: $colorBlack;
        }
      }
    }
  }

  &__DropDownWrapper {
    @include media(desktop) {
      display: none;
    }
  }
}
