@keyframes rotate {
  0% {
    transform: rotate3d(0, 3, 1, 30deg);
    -ms-transform: rotate3d(0, 3, 1, 30deg);
  }
  50% {
    transform: rotate3d(0, 3, 1, -30deg);
    -ms-transform: rotate3d(0, 3, 1, -30deg);
  }
  100% {
    transform: rotate3d(0, 3, 1, 30deg);
    // -ms-transform: rotate(30deg); /* IE 9 */
    -ms-transform: rotate3d(0, 3, 1, 30deg);
  }
}
