// @import './variables.scss';
// @import './includes.scss';

@import './variables.scss';
@import './mixins.scss';

//Type scales
// Mobile Perfect fourth
// Desktop Perfect fifth

%h1 {
  font-size: 4.209rem;
  @extend %heading;
  padding-bottom: $spacingM;
  font-weight: 400;

  @include media(desktop) {
    font-size: 7.594rem;
  }
}

%h2 {
  font-size: 3.157rem;
  @extend %heading;

  @include media(desktop) {
    font-size: 5.063rem;
  }
}

%h3 {
  font-size: 2.369rem;
  @extend %heading;
  font-weight: 700;
  padding-bottom: $spacingL;

  @include media(desktop) {
    font-size: 3.375rem;
  }
}

%h4 {
  font-size: 1.777rem;
  @extend %heading;

  @include media(desktop) {
    font-size: 2.25rem;
  }
}

%body {
  font-size: 1.777rem;
  @extend %p;

  @include media(desktop) {
    font-size: 2.25rem;
  }
}

%richtext {
  font-size: 1.777rem;
  @extend %p;
  padding-bottom: $spacingL;

  @include media(desktop) {
    font-size: 2.25rem;
  }
}

%bodyFat {
  font-size: 1.777rem;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  // @extend %body;
  font-weight: 600;

  @include media(desktop) {
    font-size: 2.25rem;
  }
}

%smallBody {
  font-size: 1.333rem;
  @extend %p;

  @include media(desktop) {
    font-size: 1.5rem;
  }
}

%label {
  // font-size: 1.333rem;
  @extend %h4;
  text-transform: uppercase;
  // padding: $spacingS;
  margin-bottom: 0;
}

%labelFat {
  @extend %h2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: $spacingM;
}

%labelSmall {
  // @extend %smallBody;
  font-size: 1.333rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;

  @include media(desktop) {
    font-size: 1.5rem;
  }
}

%heading {
  // text-transform: uppercase;
  // font-weight: 900;
  letter-spacing: 1.25px;
  line-height: 1.26;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  //   color: $colorWhiteBackground;
}

%p {
  font-weight: 400;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  //   color: $colorWhiteBackground;
}

%fontColor {
  // color: $colorWhiteBackground;
  color: $colorBlack;
}

%fontColorBlack {
  color: $colorPrimaryBlue;
  // color: $colorGrey-7;
}

%grid {
  padding: 0 $spacingM;

  @include media(tablet) {
    padding: 0 $spacingL;
  }

  @include media(desktop) {
    margin: 0 auto;
    padding: 0 $spacingL * 3;
    max-width: 144rem;
  }
}

%outsideGrid {
  margin: 0 - $spacingL * 3;
}

%innerContainerSpacing {
  padding: 0 $spacingL;
}
