// @import './variables.scss';
// @import './includes.scss';

@import './variables.scss';

%h1 {
  font-size: 4.209rem;
  @extend %heading;
  padding-bottom: $spacingM;
  font-weight: 400;
}

%h2 {
  font-size: 3.157rem;
  @extend %heading;
}

%h3 {
  font-size: 2.369rem;
  @extend %heading;
  font-weight: 700;
  padding-bottom: $spacingL;
}

%h4 {
  font-size: 1.777rem;
  @extend %heading;
}

%body {
  font-size: 1.777rem;
  @extend %p;
}

%richtext {
  font-size: 1.777rem;
  @extend %p;
  padding-bottom: $spacingL;
}

%bodyFat {
  font-size: 1.777rem;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  // @extend %body;
  font-weight: 600;
}

%smallBody {
  font-size: 1.333rem;
  @extend %p;
}

%label {
  // font-size: 1.333rem;
  @extend %h4;
  text-transform: uppercase;
  // padding: $spacingS;
  margin-bottom: 0;
}

%labelFat {
  @extend %h2;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: $spacingM;
}

%labelSmall {
  // @extend %smallBody;
  font-size: 1.333rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
}

%heading {
  // text-transform: uppercase;
  // font-weight: 900;
  letter-spacing: 1.25px;
  line-height: 1.26;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  //   color: $colorWhiteBackground;
}

%p {
  font-weight: 400;
  letter-spacing: 1.9px;
  line-height: 1.6;
  font-family: $font;
  word-break: break-word;
  @extend %fontColor;
  //   color: $colorWhiteBackground;
}

%fontColor {
  color: $colorWhiteBackground;
}

%fontColorBlack {
  color: $colorPrimaryBlue;
  // color: $colorGrey-7;
}

%grid {
  padding: 0 $spacingM;
}

// %maxWidthTextMobile {
//   width: calc(100% - (16px + 55px));
// }
