@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url('/fonts/Quicksand2/Quicksand-Regular.eot'); /* IE9 Compat Modes */
  src: local(''),
    // url('/fonts/Quicksand2/Quicksand-Regular.eot?#iefix')
    //   format('embedded-opentype'),
    // /* IE6-IE8 */ url('/fonts/Quicksand2/Quicksand-Regular.woff2')
    /* IE6-IE8 */ url('/fonts/Quicksand2/quicksand-regular-webfont.woff2')
      format('woff2'),
    /* Super Modern Browsers */ url('/fonts/quicksand-regular-webfont.woff')
    // /* Super Modern Browsers */ url('/fonts/Quicksand2/Quicksand-Regular.woff')
      format('woff'),
    /* Modern Browsers */ url('/fonts/Quicksand2/Quicksand-Regular.ttf')
      format('truetype');
  /* Safari, Android, iOS */
  // url('/fonts/Quicksand2/Quicksand-Regular.svg#Quicksand') format('svg'); /* Legacy iOS */
  // src: url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.eot'); /* IE9 Compat Modes */
  // src: local(''),
  //   url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.eot?#iefix')
  //     format('embedded-opentype'),
  //   /* IE6-IE8 */ url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.woff2')
  //     format('woff2'),
  //   /* Super Modern Browsers */
  //     url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.woff')
  //     format('woff'),
  //   /* Modern Browsers */
  //     url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.ttf')
  //     format('truetype'),
  //   /* Safari, Android, iOS */
  //     url('/fonts/QuicksandLatin/quicksand-v22-latin-regular.svg#Quicksand')
  //     format('svg'); /* Legacy iOS */
}

// @font-face {
//   font-family: 'Fira Sans';
//   src: local('Fira Sans Regular'), local('Fira-Sans-Regular'),
//     url('/fonts/FireSans/FiraSans-Regular.woff2') format('woff2'),
//     url('/fonts/FireSans/FiraSans-Regular.woff') format('woff'),
//     url('/fonts/FireSans/FiraSans-Regular.ttf') format('truetype');
//   font-weight: 400;
//   font-style: normal;
// }

@font-face {
  font-family: 'Fira Code';
  src: local('Fira Code Regular'), local('Fira-Code-Regular'),
    url('/fonts/FiraCode/FiraCode-Regular.woff2') format('woff2'),
    url('/fonts/FiraCode/FiraCode-Regular.woff') format('woff'),
    url('/fonts/FiraCode/FiraCode-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
