// @import './includes.scss';
@import './variables.scss';

* {
  box-sizing: border-box;
  font-family: $font serif;
}

html {
  font-size: 62.5%;
  font-size-adjust: 0.45;
}

body {
  background-color: rgb(230, 230, 230);
  background-color: rgb(179, 179, 179);
  // background-color: $colorWhiteBackground;
}

button {
  cursor: pointer;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  text-transform: none;
}
