$font: 'Quicksand', sans-serif;

$patternPath: '/patterns/';
$iconPath: '/icons/minified/';

$colorGreen: #aef249;
$colorOrange: #ff7730;

$colorPrimaryBlueLight: #001542;
$colorPrimaryBlue: #000d29;
$colorSecondaryYellow: #fffb0f;

$colorWhite: #fafafa;
$colorWhiteBackground: #dcdcdc;

$colorGrey-1: #dcdcdc;
$colorGrey-2: #d3d3d3;
$colorGrey-3: #c0c0c0;
$colorGrey-4: #a9a9a9;
$colorGrey-5: #808080;
$colorGrey-6: #696969;
$colorGrey-7: #3b3b3b;

$colorPrimary: #f2e8df;
$colorSecondary: #005b63;
$colorSecondaryLight: #0097a1;
$colorWhite: #f2f2f2;
$colorBlack: #232622;

$linkHover: #bf3918;
$linkHoverLight: #f09a84;

$transitionSlow: 1s ease-in-out;
$transitionMediumSlow: 0.6s ease-in-out;
$transitionNormal: 0.4s ease-in-out;
$transitionQuick: 0.2s ease-in-out;

// SPACINGS
$spacingXs: 4px;
$spacingS: 8px;
$spacingSm: 12px;
$spacingM: 16px;
$spacingMl: 20px;
$spacingL: 24px;
$spacingXl: 32px;

$spacingBlock: 72px;

$colorChangeSpacing: 180px;

$maxWidthText: 85rem;
$maxWidthTextMobile: 100%;

//BORDER RADIUS
$radiusButtonSmall: $spacingXs;
$radiusButtonMedium: $spacingS;
$radiusCardSmall: $spacingXs;
@mixin radiusButtonExpanded() {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

//BOX SHADOW
$boxShadowCard: 1px 1px 4px rgba(0, 0, 0, 0.3);
$boxShadowCardWhite: 1px 1px 4px rgba(255, 255, 255, 0.3);
$boxShadowCardSmall: 0px 0px 4px rgba(0, 0, 0, 0.5);
$boxShadowCardSmallWhite: 0px 0px 4px rgba(255, 255, 255, 0.5);
$boxShadowContainer: 0px 0px 10px rgba(0, 0, 0, 0.5);

$boxShadowMedium: 2px 2px 6px;
$boxShadowSmall: 1px 1px 2px;

// BREAKPOINTS
$bp-xs: 420px;
$bp-s: 500px;
$bp-ms: 640px;
$bp-m: 768px;
$bp-ml: 900px;
$bp-l: 1024px;
$bp-xl: 1280px;
$bp-xxl: 1440px;
$bp-xxxl: 1600px;

$breakpoints: (
  xs: $bp-xs,
  s: $bp-s,
  ms: $bp-ms,
  tablet: $bp-m,
  desktop: $bp-l,
  ml: $bp-ml,
  xl: $bp-xl,
  xxl: $bp-xxl,
  xxxl: $bp-xxxl,
);
