// @import './extensions.scss';
// @import './includes.scss';

@import './fonts.scss';

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

// @font-face {
//   font-family: 'Quicksand';
//   src: url('/fonts/Quicksand/static/Quicksand-Regular.ttf') format('ttf');
//   font-weight: normal;
//   font-family: 'Raleway';
// src: url('/fonts/Raleway/Raleway-Regular.ttf') format('ttf');
// font-weight: normal;
// font-family: 'Roboto';
// src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
// font-weight: normal;
// }

$font: 'Quicksand', sans-serif;

$patternPath: '/patterns/';
$iconPath: '/icons/minified/';

$colorGreen: #aef249;
$colorOrange: #ff7730;

$colorPrimaryBlueLight: #001542;
$colorPrimaryBlue: #000d29;
$colorSecondaryYellow: #fffb0f;

//old white
// $colorWhiteBackground: #fafafa;
$colorWhite: #fafafa;

//new white
$colorWhiteBackground: #dcdcdc;
// $colorGrey5: #424242;

$colorGrey-1: #dcdcdc;
$colorGrey-2: #d3d3d3;
$colorGrey-3: #c0c0c0;
$colorGrey-4: #a9a9a9;
$colorGrey-5: #808080;
$colorGrey-6: #696969;
$colorGrey-7: #3b3b3b;

$colorPrimary: #f2e8df;
$colorWhite: #f2f2f2;
$colorBlack: #232622;

$linkHover: #bf3918;
$linkHoverLight: #f09a84;

$transitionNormal: 0.4s ease-in-out;
$transitionQuick: 0.2s ease-in-out;

// SPACINGS
$spacingXs: 4px;
$spacingS: 8px;
$spacingSm: 12px;
$spacingM: 16px;
$spacingMl: 20px;
$spacingL: 24px;
$spacingXl: 32px;

$spacingBlock: 48px;

$colorChangeSpacing: 180px;

$maxWidthText: 85rem;
$maxWidthTextMobile: 100%;

//BORDER RADIUS
$radiusButtonSmall: $spacingXs;
$radiusButtonMedium: $spacingS;
$radiusCardSmall: $spacingXs;
@mixin radiusButtonExpanded() {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

//BOX SHADOW
$boxShadowCard: 1px 1px 4px rgba(0, 0, 0, 0.3);
$boxShadowCardSmall: 0px 0px 4px rgba(0, 0, 0, 0.5);
$boxShadowContainer: 0px 0px 10px rgba(0, 0, 0, 0.5);

$boxShadowMedium: 2px 2px 6px;
$boxShadowSmall: 1px 1px 2px;

// BREAKPOINTS
$bp-s: 500px;
$bp-ms: 640px;
$bp-m: 768px;
$bp-l: 1024px;
$bp-xl: 1280px;

$breakpoints: (
  s: $bp-s,
  ms: $bp-ms,
  tablet: $bp-m,
  desktop: $bp-l,
  xl: $bp-xl,
);

// background: linear-gradient(to right bottom, @include bgColorOpacity());
