@import '../../styles/variables.scss';

.Icon {
  $root: &;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;

    // #{$root}--White & {
    //   fill: white;
    // }
    // #{$root}--Yellow & {
    //   color: $colorSecondaryYellow;
    //   fill: $colorSecondaryYellow;
    // }
  }

  &--White svg {
    color: $colorWhiteBackground;
    fill: $colorWhiteBackground;
  }

  &--Yellow svg {
    color: $colorSecondaryYellow;
    fill: $colorSecondaryYellow;
  }

  &--Primary svg {
    color: $colorPrimaryBlue;
    fill: $colorPrimaryBlue;
  }
}
