@import '../../styles/variables.scss';

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }

  &--Hover svg {
    transition: fill $transitionQuick;
  }

  &--White svg {
    color: $colorWhite;
    fill: $colorWhite;
  }

  &--Yellow svg {
    color: $colorSecondaryYellow;
    fill: $colorSecondaryYellow;
  }

  &--Primary svg {
    color: $colorPrimary;
    fill: $colorPrimary;
  }

  &--Secondary svg {
    color: $colorSecondary;
    fill: $colorSecondary;
  }

  &--SecondaryLight svg {
    color: $colorSecondaryLight;
    fill: $colorSecondaryLight;
  }

  &--Black svg {
    color: $colorBlack;
    fill: $colorBlack;
  }
}
